.footer {
  background-color: yellow;
  height: 30px;
  padding: 10px;
  bottom: 0;
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  font-weight: bold;
  width: 100%;
}
.item {
  margin: 50px;
}
